.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.listitem{

  
  display: inline-block ;
  

}

.listitem:first-child {

    margin-right: 20px;
    text-align: left !important;
    
    margin-left: 10px;
    
    max-width: 400px;
    
}

.input{

    outline: none !important;
    border: none;
    background-color: slategray;
    padding: 10px;
    color:white
  
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

.list{

    background-color: #ECD662;
    ;
    /* center the element */
    margin-right: auto;
    margin-left: auto;
    right:0;
    left:0;
    width: 50%;
    margin-top: 10px;
    border-radius: 5px;
   
}



.btnadd{

    padding: 7px;
    
}
.btnadd2{

  padding: 7px;
  margin-left: -20px;
  
}

.btnaddlist{

  padding: 7px;
  float: right;
  margin-top: 12px;
  margin-right: 10px;
}